html {
  background-color: black;
}

button {
  margin: 10px;
  margin-top: 300px;
  width: 150px;
  height: 100px;
  font-size: 20px;
  border-radius: 50px;
  background-color: #33393b;
  color: white;
  outline: none;
}

.buttons {
  display: block;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

